<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="../stylesheets/common.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="grey darken-4">
<main class="container">
	<form action="#">
		<div class="file-field input-field">
			<div class="btn cyan darken-1">
				<span>LoL  path:</span>
				<input type="file" class="path-picker">
			</div>
			<div class="file-path-wrapper">
				<label>
					<input class="file-path validate path-picker grey-text text-lighten-2" type="text"
					       placeholder="LoL install folder path" dir="rtl" tabindex="-1">
				</label>
			</div>
		</div>
		<h5 class="white-text darken-text-2">Config:</h5>
		<hr class="opacity-50">
		<p>
			<label>
				<input data-option="trinkets" type="checkbox"/>
				<span class="grey-text text-lighten-2">Trinkets</span>
			</label>
		</p>
		<p>
			<label>
				<input data-option="consumables" type="checkbox"/>
				<span class="grey-text text-lighten-2">Consumables</span>
			</label>
		</p>
		<p>
			<label>
				<input data-option="merge" type="checkbox"/>
				<span class="grey-text text-lighten-2">Merge Sets</span>
			</label>
		</p>
	</form>
	<h5 class="white-text darken-text-2">Source:</h5>
	<hr class="opacity-50">
	<div>
		<div class="progress">
			<div class="indeterminate"></div>
		</div>
		<p>
			<label class="hide">
				<input class="with-gap" value="champGG" name="source" type="radio" checked/>
				<span>Champion.gg</span><span class="badge pill teal lighten-1 white-text z-depth-3"></span>
			</label>
		</p>
	</div>
	<div>
		<div class="progress">
			<div class="indeterminate"></div>
		</div>
		<p>
			<label class="hide">
				<input class="with-gap" value="proBuilds" name="source" type="radio"/>
				<span>ProBuilds.net</span><span class="badge pill teal lighten-1 white-text z-depth-3"></span>
			</label>
		</p>
	</div>
	<div>
		<div class="progress">
			<div class="indeterminate"></div>
		</div>
		<p>
			<label class="hide">
				<input class="with-gap" value="ugg" name="source" type="radio"/>
				<span>U.gg</span><span class="badge pill teal lighten-1 white-text z-depth-3"></span>
			</label>
		</p>
	</div>
</main>
<footer class="container">
	<div class="right-align">
		<button id="btn-fetch" class="btn waves-effect waves-light" type="button">Import</button>
	</div>
	<div class="progress mt-3">
		<div class="determinate" style="width: 0"></div>
	</div>
	<span id="output" class="grey-text lighten-text-2"></span><span id="output-info"
	                                                                class="teal lighten-1 white-text badge new">0</span></li>
</footer>
<script src="../renderer.js"></script>
</body>
</html>
